.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

table {
  border: 3px solid black;
}

table td {
  width: 500px;
}

table th {
  text-decoration: underline;
}